@(host:String)(implicit session: Session)
<style>
    #drop:hover,#new:hover,#logout:hover {
        background-color: #F0F0F0;
    }
    .page-header.navbar.navbar-fixed-top {
        z-index: 100;
    }

</style>

<div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
            <!-- BEGIN LOGO -->
        <div class="page-logo">
            <div class="menu-toggler sidebar-toggler hide">

            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="top-menu" >
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-user" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
                        style="height: 46px;">
                        <span class="username username-hide-on-mobile" style="margin-top: -4px;font-size: 13px">
                            @session.get("user") </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" style="margin-top: 6px;">
                        <li>

                        </li>
                        <li id="drop">
                            <a href="http://@host/project/platformHome" id="logout"
                            style="font-size: 14px;margin-left: 1em;color: #888888;">
                                <i class="fa fa-home"></i> &nbsp; 回到首页 </a>
                        </li>
                        <li id="drop">
                            <a href="http://@host/" id="logout"
                            style="font-size: 14px;margin-left: 1em;color: #888888;">
                                <i class="fa fa-user"></i> &nbsp; 退出登录 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
