@(projectName:Seq[String])

<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200" id="projects">

			<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<li style="height: 10px"></li>

			<li id="home">
				<a href='@routes.SampleController.home'>
					<i class="fa fa-home"></i>
					<span class="title">管理项目</span>
					<span class='selected'></span>
				</a>
			</li>


			@for(i <- projectName){
				<li id="@i">
					<a href='/project/uploadFile?projectname=@i'>
						<i class='fa fa-align-justify'></i>
						<span class="title">@i</span>
						<span class='selected'></span>
					</a>
				</li>
			}


		</ul>
	</div>
</div>

<script>
		$(function () {
			$.ajax({
				url:"@routes.LoginController.selected()",
				type: "get",
				dataType: "json",
				success : function (data) {
					$("#" + data).addClass('active')
				}
			});

		})

</script>






